.search-tags-reactcomponent {
  --select-selected-option-border-top-left-radius: 100px;
  --select-selected-option-border-top-right-radius: 0;
  --select-selected-option-border-bottom-left-radius: 100px;
  --select-selected-option-border-bottom-right-radius: 0;
  --select-selected-option-padding: 1rem 1rem 1rem 2rem;
}

body.light .search-tags-reactcomponent {
  --select-selected-option-color: var(--gray-3);
  --select-selected-option-border-color: var(--gray-4);
  --select-selected-option-background-color: var(--gray-4);
  --select-options-color: var(--gray-3);
  --select-options-border-color: var(--gray-6);
  --select-options-background-color: var(--gray-6);
  --select-selected-option-color-on-hover: var(--select-selected-option-color);
  --select-selected-option-border-color-on-hover: var(--select-selected-option-border-color);
  --select-selected-option-background-color-on-hover: var(--select-selected-option-background-color);
  --select-options-color-on-hover: var(--select-options-color);
  --select-options-border-color-on-hover: var(--select-options-border-color);
  --select-options-background-color-on-hover: var(--gray-4);
}

body.dark .search-tags-reactcomponent {
  --select-selected-option-color: var(--gray-6);
  --select-selected-option-border-color: var(--gray-3);
  --select-selected-option-background-color: var(--gray-3);
  --select-options-color: var(--gray-6);
  --select-options-border-color: var(--gray-2);
  --select-options-background-color: var(--gray-2);
  --select-selected-option-color-on-hover: var(--select-selected-option-color);
  --select-selected-option-border-color-on-hover: var(--select-selected-option-border-color);
  --select-selected-option-background-color-on-hover: var(--select-selected-option-background-color);
  --select-options-color-on-hover: var(--select-options-color);
  --select-options-border-color-on-hover: var(--select-options-border-color);
  --select-options-background-color-on-hover: var(--gray-3);
}
