article {
    background-color: var(--color-gray-background);
}

article h1 {
    margin: var(--header-hight) 0 0;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1;
    padding: 4rem 0 8rem;
    color: white;
    font-variant:small-caps;
    text-shadow: var(--text-shadow);
}

article h1 span {
    margin: 0rem auto;
}

article h1.banner {
    background-image: url(../img/banner-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

article main {
    background: white;
}

article h2 {
    color: var(--color-gray-medium);
    padding: 1.5rem 0 0;
    font-variant: small-caps;
}

article h2::first-letter {
    text-transform: capitalize;
}

article h2:first-child {
    padding: 0;
}

article p {
    color: var(--color-gray-dark);
    padding: 1rem 0 0;
    text-align: justify;
}

article code {
    font-family: 'Anonymous Pro', monospace;
    color: var(--color-gray-medium);
    background: var(--color-gray-background);
    padding: 0 .3em;
}

@media screen and (min-width: 1200px) {
    article main {
        box-shadow: var(--box-shadow);
        border-radius: 3px;
        width: 60%;
        margin: -4rem auto 3rem;
        padding: 4rem 6rem;
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    article main {
        box-shadow: var(--box-shadow);
        border-radius: 3px;
        width: 80%;
        margin: -4rem auto 3rem;
        padding: 4rem 4rem;
    }
}

@media screen and (max-width: 700px) {
    article main {
        width: 100%;
        margin: -4rem auto 3rem;
        padding: 2rem 2rem;
    }
}

