:root {
    --code-margin-left: 3rem;
    --code-padding: 15px;
}

.code-block {
    position: relative;
    padding: 1rem 0 0;
}

.code-block pre, .code-block pre * {
    font-family: 'Anonymous Pro', monospace;
}

.code-block pre {
    font-size: 1rem;
    line-height: 1.3;
}

.code-block pre code {
    overflow-x: overlay;
    padding: var(--code-padding);
    background-color: var(--color-gray-background);
}

.code-block pre.line-numbers {
    position: relative;
}

.code-block pre.line-numbers code {
    margin-left: var(--code-margin-left);
}

.code-block pre div {
    display: none;
}

.code-block pre.line-numbers > div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--code-padding) 0;
    background-color: var(--color-gray-eee);
    color: var(--color-gray-light);
}

.code-block pre.line-numbers > div > span {
    display: block;
    width: var(--code-margin-left);
    padding: 0 12px 0 0;
    text-align: right;
}

.code-block pre.line-numbers > div {
    counter-reset: line;
}

.code-block pre.line-numbers > div > span {
    counter-increment: line;
}

.code-block pre.line-numbers > div > span::before {
    content: counter(line);
}

.code-block .copy-code-icon {
    position: absolute;
    top: calc(1rem + 15px);
    right: 15px;
    font-size: 1.3rem;
    color: var(--color-gray-medium);
    cursor: pointer;
}

.code-block .copy-code-icon:hover i {
    color: var(--color-blue);
}

