header {
    background-color: white;
    box-shadow: var(--box-shadow);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

header ul {
    width: 90%;
    margin: 0 auto;
    min-height: var(--header-hight);
    display: flex;
    align-items: center;
    justify-content: start;
}

header li a {
    position: relative;
    display: inline-block;
    color: var(--color-gray-dark);
    padding: 0 .5rem;
    transition: var(--transition);
    line-height: var(--header-hight);
}

header li a::before {
    opacity: 0;
    transition: var(--transition);
    content: "";
    background-color: var(--color-gray-dark);
    position: absolute;
    width: calc(100%  - 1rem);
    height: 3px;
    bottom: 0;
}

header li:first-child a::before {
    width: calc(100%  - .5rem);
}

header li:hover a::before {
    opacity: 1;
}

header li:first-child a {
    padding-left: 0;
    font-weight: bold;
}
