.home {
    width: var(--home-width);
    margin: var(--header-hight) auto 0;
}

.home h2 {
    padding: 1.5rem 0 0;
    color: var(--color-blue);
}

.home .articles {
    display: flex;
    flex-wrap: wrap;
}

.home .article {
    display: flex;
    background-color: var(--color-gray-background); 
    border-radius: 3px;
    box-shadow: var(--box-shadow);
}

.home .article .article__image {
    width: 100px;
    height: 100px;
}

.home .article .article__infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    font-size: .8rem;
}

.home .article .article__infos .article__name {
    color: var(--color-gray-dark);
    font-weight: bold;
    font-size: 1.15rem;
    flex-grow: 1;
}

.home .article .article__infos .article__author {
    color: var(--color-gray-medium);
    font-size: .9rem;
}

.home .article .article__infos .article__additional-infos {
    display: flex;
    color: var(--color-gray-light);
}

.home .article .article__infos .article__additional-infos .article__date-readtime-separator {
    padding: 0 5px;
    font-weight: bold;
}

@media screen and (min-width: 700px) {
    .home .article:nth-child(2n + 1) {
        margin: 10px;
        margin-left: 0;
        width: calc(50% - 10px);
    }
    
    .home .article:nth-child(2n) {
        margin: 10px;
        margin-right: 0;
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 700px) {
    .home .article {
        margin: 10px 0;
        width: 100%;
    }
}

