*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background: white; 
}

ul li {
    list-style-type: none; 
}

a {
    color: var(--blue-color);
    text-decoration: none;
}