[data-tooltip] {
    position: relative;
    display: block;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]::before,
[data-tooltip]::after {
  opacity: 0;
  transition: opacity .2s ease-in;
}

/* Position tooltip above the element */
[data-tooltip]::before {
    position: absolute;
    background-color: var(--color-gray-dark);
    color: #fff;
    content: attr(data-tooltip);
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    border-top: 5px solid var(--color-gray-dark);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
    opacity: 1;
}