.code-tabs-reactcomponent {
  --border-top-left-radius: 0;
  --border-top-right-radius: 0;

  & .tabs {
    display: flex;
    background: var(--code-background-color);
    border-bottom: 0.3rem solid var(--code-line-numbers-background-color);
    border-radius: 3px 3px 0 0;
    scrollbar-width: none;
  }

  & .tabs::-webkit-scrollbar {
    display: none;
  }

  & .tab {
    position: relative;
    background-color: inherit;
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: var(--transition);
    white-space: nowrap;
  }

  & .tab.active {
    background-color: var(--code-active-tab-background-color);
  }

  & .tab.active::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 0.3rem;
    background-color: var(--primary-color);
  }

  & .tab:hover {
    background-color: var(--code-tab-background-color-on-hover);
  }

  & .tabcontent {
    display: none;
  }

  & .result-tab {
    border: 0.3rem solid var(--code-line-numbers-background-color);
    border-top: none;
  }
}
