.code-tabs-reactcomponent {
  --border-top-left-radius: 0;
  --border-top-right-radius: 0;

  & .tabs {
    display: flex;
    background: var(--code-background-color);
    border-bottom: 1px solid var(--code-line-numbers-background-color);
    border-radius: 3px 3px 0 0;
    overflow-x: auto;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  & .tab {
    position: relative;
    background-color: inherit;
    color: var(--text-color);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: var(--transition);
    white-space: nowrap;
  }

  & .tab.active {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }

  & .tab::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% - 0.3rem);
    height: 0.3rem;
    transition: var(--transition);
    transition-property: opacity;
    opacity: 0;
  }

  & .tab.active::after,
  & .tab:hover::after {
    opacity: 1;
  }

  & .tab.active::after {
    background-color: var(--primary-color) !important;
  }

  & .tab:hover::after {
    background-color: var(--code-tab-border-color-on-hover);
  }

  & .tab:hover {
    background-color: var(--code-tab-background-color-on-hover);
  }

  & .tabcontent {
    display: none;
  }

  & .result-tab {
    border: 0.3rem solid var(--code-line-numbers-background-color);
    border-top: none;
  }
}
