$imgWidthHeight: 150px;

a {
  text-decoration: none;
  color: var(--body-color);
}

main {
  background-color: var(--article-background-color);
  --fancy-title-background-color: var(--article-background-color);
  transition: var(--transition);
  transition-property: color, background-color;
}

.about-container {
  margin-top: 6rem;
  box-shadow: var(--box-shadow);
  padding: 8rem;
}

.about-container {
  color: var(--text-color);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .profile-image {
    margin-bottom: 3rem;
    border-radius: 100rem;
    width: 150px;
    height: 150px;
    background-image: url('/assets/img/profile.jpg');
    background-size: 150px;
    background-position: 0% -20px;
  }

  & .name {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  & .job {
    margin: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
  }

  & .additional-infos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  & .additional-info {
    display: flex;
    align-items: center;
    margin: 0 1rem;

    & a {
      font-size: 1.4rem;
      color: var(--text-color);
      text-decoration: none;
      transition: var(--transition);
      transition-property: color;

      &:hover {
        color: var(--primary-color);
      }
    }

    & .iconify {
      margin-right: 1rem;
      color: var(--primary-color);
      font-size: 1.8rem;
    }
  }
}

.summary {
  margin-top: 5rem;

  & .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem -0.5rem 0;

    & tag-webcomponent {
      margin: 0.3rem 0.5rem;
    }
  }
}

.educations {
  margin-top: 5rem;
}

.work-experiences ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.work-experience,
.education {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: self-start;

  & .work-experience__logo,
  & .education__logo {
    width: 14rem;
    margin-bottom: 3rem;
  }

  & .height-auto {
    height: auto;
  }

  & .work-experience__metadata,
  & .education__metadata {
    margin-left: 4rem;
    flex: auto;
    min-width: 0;
  }

  & .work-experience__metadata__title,
  & .education__metadata__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    & .primary-color {
      color: var(--primary-color);
    }
  }

  & .work-experience__metadata__subtitle,
  & .education__metadata__subtitle {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  & .work-experience__team-size .size {
    & .size {
      font-family: 'Anonymous Pro' monospace;
      color: var(--primary-color);
    }
  }

  & .work-experience__daily-tasks {
    & li {
      font-size: 1.3rem;
      margin-bottom: 0.3rem;
      line-height: 1.7rem;
    }

    & li::before {
      content: '';
      margin: 0 1.5rem;
      width: 0;
      height: 0;
      border-top: 0.5rem solid transparent;
      border-bottom: 0.5rem solid transparent;
      border-left: 0.5rem solid var(--primary-color);
    }
  }
}

[name='heart'] {
  color: rgb(242, 84, 125);
  padding: 0 0.4rem;
}

.certificate-of-completion-image-container {
  position: relative;
  margin-top: 4rem;

  & img {
    z-index: 0;
  }

  & .control,
  .loader,
  & .index {
    z-index: 1;
  }

  & .image-container {
    position: relative;
  }
  & img {
    border: 2px solid var(--border-color);
    position: absolute;
    transition: var(--transition);
    transition-property: opacity;
  }

  & img.transparent {
    opacity: 0;
  }

  & .index {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: var(--primary-color);
    font-weight: bold;
  }

  & .control {
    background: rgba(0, 0, 0, 0.3);
    color: var(--gallery-image-controls-color);
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition);
    transition-property: background;
  }

  & .control:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  & [name='caret-forward'] {
    right: 0;
  }
}

@media screen and (max-width: 1000px) {
  main {
    width: 90%;
  }

  .about-container {
    margin-top: 7rem;
    box-shadow: none;
    padding: 4rem;
  }

  .summary {
    margin-top: 2.5rem;
  }

  .work-experience .work-experience__metadata,
  .education .education__metadata {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 100%;
  }

  .about-container {
    margin-top: 4rem;
    padding: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  main {
    margin: 4rem auto;
    width: 65%;
    max-width: 85rem;
  }
}

@media screen and (min-width: 720px) and (max-width: 1200px) {
  main {
    margin: 2rem auto;
    width: 80%;
  }
}

@media screen and (max-width: 720px) {
  main {
    margin: 0 auto;
    width: 100%;
  }

  .about-container {
    margin-top: 0;
  }
}

.primary-color {
  color: var(--primary-color);
}

.fancy-list {
  & li {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
    line-height: 1.7rem;
  }

  & li::before {
    content: '';
    margin: 0 1.5rem;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid var(--primary-color);
  }
}

.small {
  font-size: 1.3rem;
}
