.personal-projects {
  margin-top: 4rem;
}

.personal-project {
  padding: 2rem;
  border-bottom: 0.3rem solid var(--personal-project-border-color);
  background-color: var(--personal-project-background-color);
  transition: var(--transition);
  transition-property: color, background-color, border-color;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: var(--primary-color);
    & .header {
      color: var(--primary-color);
    }
  }

  & .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
  }

  & .title {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    transition: var(--transition);
    transition-property: color, background-color;
  }

  & .description {
    color: var(--project-description-color);
    font-size: 1.4rem;
    margin: 1rem 0 0.5rem;
  }

  & .links a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 2.3rem;
    margin-left: 1rem;
    transition: var(--transition);
    transition-property: color, background-color;

    &:hover .title {
      color: var(--primary-color);
    }
  }

  & .technologies {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    & .technologies-label {
      margin-right: 0.5rem;
      font-size: 1.45rem;
      font-weight: bold;
    }

    & .technology {
      font-size: 1.45rem;
      margin: 0 0.5rem;
      background-color: var(--technology-background-color);
      padding: 0.2rem 0.5rem;
      border-radius: 0.3rem;
    }
  }

  & tag-webcomponent {
    --tag-padding: 0.3rem 0.5rem;
    margin-left: 0.8rem;
    margin-bottom: 0.5rem;

    &:first-of-type {
      margin-left: 0;
    }
  }

  & .links {
    font-weight: bold;
  }

  & .live-demo {
    margin-top: 0.3rem;
    margin-bottom: 0;
  }

  & .live-demo-label {
    font-size: 1.45rem;
    font-weight: bold;
    margin-right: 1rem;
  }

  & .live-demo-url {
    font-weight: bold;
    color: var(--primary-color);
  }
}
