.tool-card-reactcomponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--card-background-color);
  position: relative;
  border-top: var(--card-border-top-height) solid var(--card-border-color);
  border-right: var(--card-border-right-height) solid var(--card-border-color);
  border-bottom: var(--card-border-bottom-height) solid var(--card-border-color);
  border-left: var(--card-border-left-height) solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  transition: var(--transition);
  transition-property: box-shadow, border-color, color, background-color;
  min-width: 0;

  &:hover {
    border-color: var(--primary-color-light);
    box-shadow: var(--card-box-shadow);
    & .name {
      color: var(--primary-color);
    }
  }

  & .container {
    padding: var(--article-card-padding, 3rem);
  }

  & .name {
    color: var(--title-color);
    font-weight: bold;
    font-size: 2rem;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: var(--transition);
    transition-property: color;
  }

  & .description {
    color: var(--primary-color);
    font-size: 1.35rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
