<!DOCTYPE html>
<html lang="en">
  ${require('templates/head.html')}

  <body>
    <header-webcomponent></header-webcomponent>

    <article-webcomponent>
      <oneline-code-webcomponent code="line of code" language="bash"></oneline-code-webcomponent>

      <multiline-code-webcomponent language="bash">
        <pre slot="code">
                <code>
                    line 1. 
                    line 2. 
                </code>
            </pre>
      </multiline-code-webcomponent>

      <code-tabs-webcomponent>
        <code-tab-webcomponent slot="code-tab">project structure</code-tab-webcomponent>
        <code-panel-webcomponent slot="code-panel">
          <multiline-code-webcomponent language="xml">
            <pre slot="code">
                        <code>
                            .
                            ├── pom.xml
                            └── src
                        </code>
                    </pre>
          </multiline-code-webcomponent>
        </code-panel-webcomponent>
      </code-tabs-webcomponent>

      <more-info-webcomponent>
        <link-webcomponent
          href="https://github.com/ahenteti/ahenteti.github.io.demo/tree/master/css/text-overflow-ellipsis-demo"
          label="How to kill a process in windows 10"
        ></link-webcomponent>
        <link-webcomponent
          href="https://stackoverflow.com/questions/36652580/how-to-add-three-dots-to-text-when-overflow-in-html"
          label="Stackoverflow question"
        ></link-webcomponent>
      </more-info-webcomponent>
    </article-webcomponent>
  </body>
</html>
