.fancy-title-reactcomponent {
  & h2 {
    margin: 2.5rem 0;
    color: var(--title-color);
    text-transform: uppercase;
    position: relative;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(to right, var(--primary-color), var(--fancy-title-background-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & h2::before {
    content: '';
    display: inline-block;
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 1rem;
    background: var(--primary-color);
  }

  & h2::after {
    content: '';
    position: absolute;
    display: block;
    height: 0.3rem;
    width: var(--fancy-title-underline-width, 75%);
    bottom: -1rem;
    background: linear-gradient(to right, var(--primary-color), var(--fancy-title-background-color));
  }
}
