.article-cards-by-category-reactcomponent {
  & .articles-by-category {
    margin: 4rem 0 6rem;
    display: grid;
    min-width: 0;
    grid-gap: 2rem;

    @media screen and (max-width: 720px) {
      grid-template-columns: 1fr;
    }

    @media screen and (min-width: 720px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
