main {
    width: 100%;
    --fancy-title-underline-width: 60%;
}

.intro {
    margin: calc(8rem + var(--header-height)) auto;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    & .name {
        color: rgb(13, 13, 13);
        font-weight: 300;
        font-size: 3.8rem;
        margin-bottom: 4rem;
        text-align: center;
    }

    & .description {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 3.2rem;
        text-align: center;
        color: var(--text-color);
    }

    @media screen and (max-width: 720px) {
        width: 80%;
    }

    @media screen and (min-width: 720px) {
        width: 60%;
    }
}

.search {
    margin: 5rem auto;
    margin-bottom: 0;

    @media screen and (max-width: 720px) {
        width: 80%;
    }

    @media screen and (min-width: 720px) {
        width: 50%;
    }
}

.articles {
    margin: 8rem auto;
    margin-bottom: 0;
    width: 80%;
}

.articles-by-category {
    margin: 4rem 0 6rem;
    display: grid;
    min-width: 0;
    grid-gap: 2rem;

    & .article {
        min-width: 0;
    }

    @media screen and (max-width: 720px) {
        grid-template-columns: 1fr;
    }

    @media screen and (min-width: 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

.no-result {
    text-align: center;

    & span {
        font-weight: 500;
        font-size: 2.3rem;
        color: var(--text-color);
    }
}
