main {
  width: 100%;
  --fancy-title-underline-width: 60%;
}

.intro {
  margin: calc(8rem + var(--header-height)) auto;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  & .name {
    color: var(--title-color);
    font-weight: 300;
    font-size: 3.8rem;
    margin-bottom: 4rem;
    text-align: center;
  }

  & .description {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    text-align: center;
    color: var(--text-color);
  }

  @media screen and (max-width: 720px) {
    width: 80%;
  }

  @media screen and (min-width: 720px) {
    width: 60%;
  }
}

.website-division {
  margin: 0 auto;
  margin-bottom: 0;
  width: 80%;
}
