:root {
  --button-background-color: var(--tool-background-color);
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.select-code-language {
  margin-right: 1.5rem;
}

textarea {
  background: var(--code-background-color);
  border: 1px solid var(--code-background-color);
  transition: var(--transition);
  transition-property: border-color;
  padding: 2rem;
  font-size: 1.6rem;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 30rem;
  margin-bottom: 2rem;
}

textarea:hover,
textarea:focus {
  border-color: var(--primary-color);
}

#reset {
  display: none;
}
