:root {
  --button-background-color: var(--tool-background-color);
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.select-code-language {
  margin-right: 1.5rem;
}

#reset {
  display: none;
}
