.tag-reactcomponent {
  background-color: var(--tag-background-color);
  font-size: var(--tag-font-size, 1.5rem);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-in;
  display: block;

  &:hover,
  &.selected {
    background-color: var(--primary-color);
    color: var(--selected-tag-color);
  }
}
