.tag-reactcomponent {
  background-color: var(--tag-background-color);
  color: var(--tag-color);
  font-size: var(--tag-font-size, 1.5rem);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  transition-property: color, background;

  &:hover,
  &.selected {
    background-color: var(--primary-color);
    color: var(--selected-tag-color);
  }
}
