.toast-reactcomponent {
  visibility: hidden;
  position: fixed;
  z-index: 99999;
  top: 2.5rem;
  right: 2.5rem;
  max-width: 38rem;
  box-shadow: var(--box-shadow);

  &.show {
    visibility: visible;
    animation: toastFadeIn 0.2s, toastFadeOut 0.2s 2.8s;
  }

  @keyframes toastFadeIn {
    from {
      right: -40rem;
      opacity: 0;
    }
    to {
      right: 2.5rem;
      opacity: 1;
    }
  }

  @keyframes toastFadeOut {
    from {
      right: 2.5rem;
      opacity: 1;
    }
    to {
      right: -40rem;
      opacity: 0;
    }
  }
}
