.article-card-reactcomponent {
  --new-article-elevation: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--article-card-padding, 3rem);
  background-color: var(--article-card-background-color);
  position: relative;
  transition: box-shadow 0.2s;
  transition: all 0.2s ease-in;
  border-bottom: 3px solid var(--border-color);
  min-width: 0;

  &:hover {
    border-bottom: 3px solid var(--primary-color-light);
    & .name {
      color: var(--primary-color);
    }
  }

  & .name {
    color: var(--title-color);
    padding-bottom: 1.5rem;
    font-weight: bold;
    font-size: 2rem;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.2s ease-in;
  }

  & .publication-date,
  & .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--text-color-light);
  }

  & .tags {
    margin-bottom: 1.5rem;
  }

  & p {
    font-size: 1.3rem;
    margin: 0;
  }

  & ion-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: color 0.2s ease-in;
  }

  & .new-article-wrapper {
    display: none;
    position: absolute;
    top: calc(var(--new-article-elevation) * -1);
    right: 3rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
  }

  & .new-article {
    background-color: var(--primary-color);
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: var(--box-shadow);
    clip-path: polygon(
      var(--new-article-elevation) 0,
      100% 0,
      100% 60%,
      60% 100%,
      var(--new-article-elevation) 60%,
      var(--new-article-elevation) var(--new-article-elevation),
      0 var(--new-article-elevation)
    );
  }
}
