$imgWidthHeight: 150px;

main {
  width: 65%;
}

.about-container {
  margin-top: 10rem;
  box-shadow: var(--box-shadow);
  padding: 8rem;
}

.about-container,
.about-container a {
  color: var(--color-gray-medium);
}

.about-container a:hover {
  color: var(--primary-color);
}

.profile-with-general-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & img {
    width: $imgWidthHeight;
    height: $imgWidthHeight;
    border-radius: 100%;
  }
}

.general-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 6rem;

  & .name {
    font-size: 2.3rem;
    padding-bottom: 1rem;
  }

  & .text-with-icon {
    padding-top: 0.3rem;

    & ion-icon {
      font-size: 2rem;
      padding-right: 2rem;
      color: var(--primary-color);
    }
  }

  & .text-with-icon,
  & a {
    font-size: 1.3rem;
  }
}

.summary {
  margin-top: 5rem;

  & .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem -0.5rem 0;

    & app-tag {
      margin: 0.3rem 0.5rem;
    }
  }
}

.section-title {
  margin: 2.5rem 0;
  color: var(--color-gray-medium);
  text-transform: uppercase;
  position: relative;
  line-height: 2rem;
  font-size: 2rem;
}

.section-title::before {
  content: "";
  display: inline-block;
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 1rem;
  background: var(--primary-color);
}

.section-title::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.3rem;
  width: 75%;
  bottom: -1rem;
  background: linear-gradient(to right, var(--primary-color), #fff);
}

.work-experience ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.work-experience ul li .icon {
  color: var(--primary-color);
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  font-size: 2rem;
}

[name="heart"] {
  color: rgb(242, 84, 125);
  padding: 0 0.4rem;
}

@media screen and (max-width: 720px) {
  main {
    width: 90%;
  }

  .about-container {
    margin-top: 7rem;
    box-shadow: none;
    padding: 4rem;
  }

  .profile-with-general-info {
    flex-direction: column;
  }

  .general-info {
    padding-left: 0;
    margin-top: 4rem;

    & .name {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 2rem;
    }

    & .text-with-icon,
    & a {
      font-size: 1.6rem;
    }
  }

  .summary {
    margin-top: 2.5rem;
  }
}
