.demo {
    padding: 4rem;
    --tooltip-triangle-height: 0.7rem;
    --tooltip-margin: 5px;
}

.demo button {
    display: block;
    width: 30rem;
    margin: 2rem auto;
    padding: 0.8rem 1.6rem;
    text-transform: uppercase;
    border: 2px solid var(--primary-color);
    border-radius: 2px;
    outline: none;
    background-color: var(--demo-button-background-color);
    color: var(--primary-color);
    transition: all 0.2s;
}

.demo button:first-child {
    margin-top: 0;
}

.demo button:last-child {
    margin-bottom: 0;
}

.demo button:hover {
    background-color: var(--primary-color);
    color: white;
}

.demo [data-tooltip-demo] {
    position: relative;
}

.demo [data-tooltip-demo]::before,
.demo [data-tooltip-demo]::after {
    text-transform: initial;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s;
}

.demo [data-tooltip-demo]:hover::before,
.demo [data-tooltip-demo]:hover::after {
    visibility: visible;
    opacity: 1;
}

.demo [data-tooltip-demo].tooltip-top-demo::before {
    content: attr(data-tooltip-demo);
    position: absolute;
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-color);
    padding: 0.8rem 1.6rem;
    border-radius: 0.3rem;
    white-space: nowrap;
    font-size: 1.4rem;

    bottom: calc(100% + var(--tooltip-margin) + var(--tooltip-triangle-height));
    left: 50%;
    transform: translateX(-50%);
}

.demo [data-tooltip-demo].tooltip-top-demo::after {
    content: '';
    position: absolute;
    border-top: var(--tooltip-triangle-height) solid var(--tooltip-background-color);
    border-right: var(--tooltip-triangle-height) solid transparent;
    border-bottom: none;
    border-left: var(--tooltip-triangle-height) solid transparent;

    bottom: calc(100% + var(--tooltip-margin));
    left: 50%;
    transform: translateX(-50%);
}

.demo [data-tooltip-demo].tooltip-right-demo::before {
    content: attr(data-tooltip-demo);
    position: absolute;
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-color);
    padding: 0.8rem 1.6rem;
    border-radius: 0.3rem;
    white-space: nowrap;
    font-size: 1.4rem;

    top: 50%;
    left: calc(100% + var(--tooltip-margin) + var(--tooltip-triangle-height));
    transform: translateY(-50%);
}

.demo [data-tooltip-demo].tooltip-right-demo::after {
    content: '';
    position: absolute;
    border-top: var(--tooltip-triangle-height) solid transparent;
    border-right: var(--tooltip-triangle-height) solid var(--tooltip-background-color);
    border-bottom: var(--tooltip-triangle-height) solid transparent;
    border-left: none;

    top: 50%;
    left: calc(100% + var(--tooltip-margin));
    transform: translateY(-50%);
}

.demo [data-tooltip-demo].tooltip-bottom-demo::before {
    content: attr(data-tooltip-demo);
    position: absolute;
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-color);
    padding: 0.8rem 1.6rem;
    border-radius: 0.3rem;
    white-space: nowrap;
    font-size: 1.4rem;

    top: calc(100% + var(--tooltip-margin) + var(--tooltip-triangle-height));
    left: 50%;
    transform: translateX(-50%);
}

.demo [data-tooltip-demo].tooltip-bottom-demo::after {
    content: '';
    position: absolute;
    border-top: none;
    border-right: var(--tooltip-triangle-height) solid transparent;
    border-bottom: var(--tooltip-triangle-height) solid var(--tooltip-background-color);
    border-left: var(--tooltip-triangle-height) solid transparent;

    top: calc(100% + var(--tooltip-margin));
    left: 50%;
    transform: translateX(-50%);
}

.demo [data-tooltip-demo].tooltip-left-demo::before {
    content: attr(data-tooltip-demo);
    position: absolute;
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-color);
    padding: 0.8rem 1.6rem;
    border-radius: 0.3rem;
    white-space: nowrap;
    font-size: 1.4rem;

    top: 50%;
    right: calc(100% + var(--tooltip-margin) + var(--tooltip-triangle-height));
    transform: translateY(-50%);
}

.demo [data-tooltip-demo].tooltip-left-demo::after {
    content: '';
    position: absolute;
    border-top: var(--tooltip-triangle-height) solid transparent;
    border-right: none;
    border-bottom: var(--tooltip-triangle-height) solid transparent;
    border-left: var(--tooltip-triangle-height) solid var(--tooltip-background-color);

    top: 50%;
    right: calc(100% + var(--tooltip-margin));
    transform: translateY(-50%);
}
