.header-reactcomponent {
  background-color: var(--header-background);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: var(--transition);
  transition-property: box-shadow, color, background-color;

  &.shadow {
    box-shadow: var(--box-shadow);
    background-color: var(--header-background-with-shadow);
  }

  & nav {
    width: 80%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: var(--header-height);
  }

  & .logo {
    display: flex;
    align-items: center;
    &:hover span {
      color: var(--primary-color);
    }
  }

  & .logo span {
    color: var(--header-link-color);
    font-weight: bold;
    font-size: 1.8rem;
    padding-left: 1.3rem;
    transition: var(--transition);
    transition-property: color;
  }

  & ul {
    display: flex;
    align-items: center;
  }

  & ion-icon {
    color: var(--header-link-color);
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0 0.7rem;
    transition: var(--transition);
    transition-property: color;
    &:hover {
      color: var(--primary-color);
    }
  }

  & img {
    all: unset;
    height: 2.5rem;
    width: 2.5rem;

    &:hover svg {
      stroke: var(--primary-color);
    }
  }

  & ul {
    margin-right: -0.7rem;
    will-change: left;
    transition: left 0.4s;
  }

  & li span {
    display: none;
  }

  & .change-theme-container {
    position: relative;

    & highlight-feature-webcomponent {
      display: none;
    }

    &.unknown-change-theme-color-feature highlight-feature-webcomponent {
      display: block;
      position: absolute;
      top: calc(100% + 12px);
      left: -20rem;
    }
  }

  & #check,
  & .checkbtn {
    display: none;
  }

  @media screen and (max-width: 700px) {
    & .checkbtn {
      display: block;
    }

    & #check:checked ~ ul {
      left: 0;
    }

    & ul {
      display: initial;
      background-color: var(--header-small-screens-background);
      position: fixed;
      width: 100%;
      height: 100vh;
      top: var(--header-height);
      left: -100%;
      text-align: center;
      flex-direction: column;
    }

    & li span {
      display: inline;
    }

    & li ion-icon {
      display: none;
    }

    & ion-icon {
      margin: 0;
    }

    & li a,
    & li span {
      color: var(--text-color);
      cursor: pointer;
    }

    & li {
      line-height: 5rem;
      font-weight: bold;
      font-size: 3rem;
      &:hover {
        background-color: var(--header-small-screens-li-on-hover-state);
      }
    }

    & [data-tooltip]::before,
    & [data-tooltip]::after {
      display: none;
    }

    & .change-theme-container.unknown-change-theme-color-feature highlight-feature-webcomponent {
      display: none;
    }
  }
}
