<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png" />
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/webcomponents-bundle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/58854edabd.js" crossorigin="anonymous"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<title>Ahmed HENTETI</title>
<meta name="description" content="My name is Ahmed HENTETI, Software Engineer since 2017 and I love working with Java and React" />
<!-- LinkedIn metadata -->
<meta property="og:title" content="Ahmed HENTETI" />
<meta property="og:image" content="https://ahenteti.github.io/assets/img/logo.png" />
<meta property="og:description" content="My name is Ahmed HENTETI, Software Engineer since 2017 and I love working with Java and React" />
<meta property="og:url" content="https://ahenteti.github.io" />
