article-webcomponent {
  color: var(--text-color);
}

article-webcomponent h2 {
  margin-top: 3rem;
  margin-bottom: 0.8rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
}

article-webcomponent h2::first-letter {
  text-transform: uppercase;
}
