article-webcomponent {
  color: var(--text-color);
}

article-webcomponent h2 {
  margin-top: 3rem;
  margin-bottom: 0.8rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
}

article-webcomponent h2::first-letter {
  text-transform: uppercase;
}

article-webcomponent ul li {
  line-height: 2rem;
  list-style-type: none;
  list-style-position: inside;
  padding-left: 1.5rem;
}

article-webcomponent ul li::before {
  content: '■';
  padding-right: 1rem;
}

article-webcomponent h3 {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

article-webcomponent h3 {
  margin-top: 2rem;
}
