*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.autoprefixer-test {
    user-select: none;
}

html {
    @media screen and (max-width: 720px) {
        font-size: 52%;
    }
    @media screen and (min-width: 720px) {
        font-size: 62.5%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--body-background-color);
}

ul li,
app-more-info li {
    list-style-type: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.2s ease-in;
}

main {
    width: 80%;
    margin: var(--header-height) auto;
}

h2 {
    font-size: 2rem;
}

button,
a,
p,
code,
i,
span,
li,
th,
td {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.nowrap {
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

.highlight,
.highlight-green {
    background: var(--primary-code-highlight-color);
    padding: 3px;
    border-radius: 2px;
}

.highlight-green {
    background-color: var(--code-highlight-color);
}

.code {
    font-family: 'Anonymous Pro', monospace;
    background: var(--code-background-color);
    padding: 3px;
    border-radius: 2px;
}

.monospace {
    font-family: 'Anonymous Pro', monospace;
}

app-article {
    color: var(--text-color);
}

app-article h2 {
    margin-top: 3rem;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
    font-weight: bold;
}

app-article h2::first-letter {
    text-transform: uppercase;
}

app-article ul li {
    line-height: 2rem;
    list-style-type: none;
    list-style-position: inside;
    padding-left: 1.5rem;
}

app-article ul li::before {
    content: '■';
    padding-right: 1rem;
}

app-article h3 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

app-article h3 {
    margin-top: 2rem;
}

.one-line {
    width: 100%;
    white-space: nowrap;
}

.mb {
    margin-bottom: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.text-with-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.come-in {
    animation: come-in 0.8s ease forwards;
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

.not-yet-visible {
    transform: translateY(150px);
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

.loader {
    display: none;
    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
    border: 1rem solid var(--border-color);
    border-top: 1rem solid var(--primary-color);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
