*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--body-background-color);
  transition: var(--transition);
  transition-property: color, background-color;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

main {
  width: 80%;
  max-width: var(--max-width);
  margin: var(--header-height) auto;
}

button,
a,
p,
code,
i,
span,
li,
th,
td {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  text-align: justify;
  text-justify: inter-word;
}

h2 {
  margin: 4rem 0 1.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.235;
}

h3 {
  margin: 1rem 0 1.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;
}

.steps {
  counter-reset: steps;
}

.step::before {
  counter-increment: steps 1;
  font-weight: bold;
  content: counter(steps) '.';
  color: var(--primary-color);
  padding-right: 1rem;
}

ul li {
  list-style-type: none;
  list-style-position: inside;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

.nowrap {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.highlight,
.highlight-green {
  background: var(--primary-code-highlight-color);
  color: white;
  padding: 3px;
  border-radius: 2px;
}

.highlight-green {
  background-color: var(--code-highlight-color);
}

.code {
  font-family: 'Anonymous Pro', monospace;
  background: var(--code-background-color);
  border: 1px solid var(--code-border-color);
  padding: 3px;
  border-radius: 2px;
}

h2 .code {
  font-size: 2rem;
}

.monospace {
  font-family: 'Anonymous Pro', monospace;
}

.one-line {
  width: 100%;
  white-space: nowrap;
}

.mt-s {
  margin-top: 0.5rem;
}

.mb-s {
  margin-bottom: 0.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.text-with-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-content {
  display: none;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
