body {
  --header-height: 6.5rem;
  --transition: all 0.2s ease-in;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --box-shadow-primary-color: 0 0 0 3px rgba(0, 149, 255, 0.15);
  --text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  --container-prefix-width: 5rem;
  --code-padding: 1.6rem;
  --border-radius: 0.3rem;
  --right-border-radius: 0 0.3rem 0.3rem 0;
  --left-border-radius: 0.3rem 0 0 0.3rem;
  --code-top-bottom-margin: 2rem;
  --tooltip-triangle-height: 0.7rem;
  --tooltip-margin: 5px;
  --slide-in-translate-y: 100px;
  --max-width: 1400px;
  --search-top-bottom-padding: 1rem;
  --white-color: #fff;
}

body.dark {
  --primary-color: #078eed;
  --primary-color-light: #0c7ccb;
  --primary-color-dark: #0c7ccb;
  --primary-code-highlight-color: #078ded33;
  --code-highlight-color: #078ded33;
  --body-background-color: #1c1f23;
  --border-color: #394048;
  --text-color: #d1d2d3;
  --text-color-light: #888;
  --input-placeholder-color: #888;
  --title-color: #dedede;
  --header-background: #1c1f23;
  --header-link-color: #fff;
  --tooltip-background-color: #333;
  --code-background-color: #32373b;
  --code-line-numbers-background-color: #394048;
  --code-selected-tab-background-color: #c4c2c0;
  --code-icon-color: #777;
  --quote-background-color: #fafafa;
  --quote-color: #888;
  --quote-icon-background-color: #eee;
  --quote-icon-color: #959595;
  --tag-color: #888;
  --tag-background-color: #32373b;
  --table-head-background-color: #394048;
  --tooltip-color: var(--white-color);
  --background-select-option-on-hover-state-color: #32373b;
  --demo-background-color: #262a2d;
  --info-component-icon-background-color: #3282c9;
  --info-component-icon-color: #cce5ff;
  --info-component-text-background-color: #cce5ff;
  --info-component-text-color: #004085;
  --warn-component-icon-background-color: #ffcf50;
  --warn-component-icon-color: var(--white-color);
  --warn-component-text-background-color: #fff6e0;
  --warn-component-text-color: #856404;
  --quote-component-icon-background-color: #394048;
  --quote-component-icon-color: #959595;
  --quote-component-text-background-color: #32373b;
  --quote-component-text-color: #999;
  --quote-component-text-font-style: italic;
  --search-background-color: #262a2d;
  --search-border-color: #262a2d;
  --selected-option-color: var(--white-color);
  --select-background-color: #262a2d;
  --selected-tag-color: var(--white-color);
  --article-card-background-color: #262a2d;
  --article-background-color: #262a2d;
  --gallery-image-controls-color: var(--white-color);
  --demo-card-background-color: #394048;
  --demo-button-background-color: #262a2d;
  --demo-button-on-hover-state-color: var(--white-color);
  --fancy-title-background-color: #1c1f23;
  --search-component-input-background-color: #262a2d;
  --loader-primary-color: #394048;
  --related-article-card-background-color: #32373b;
  --related-article-border-color: #32373b;
  --related-article-tag-background-color: #394048;
  --header-small-screens-background: #262a2d;
  --header-small-screens-li-on-hover-state: #32373b;
}

body.light {
  --primary-color: #078eed;
  --primary-color-light: #66bfff;
  --primary-color-dark: #0c7ccb;
  --primary-code-highlight-color: rgb(255, 215, 0);
  --code-highlight-color: rgb(31, 255, 31);
  --body-background-color: var(--white-color);
  --border-color: #eee;
  --text-color: #555;
  --text-color-light: #888;
  --input-placeholder-color: #888;
  --title-color: #555;
  --header-background: var(--white-color);
  --header-link-color: #333;
  --tooltip-background-color: #333;
  --code-background-color: #fafafa;
  --code-line-numbers-background-color: #eee;
  --code-selected-tab-background-color: #c4c2c0;
  --code-icon-color: #777;
  --quote-background-color: #fafafa;
  --quote-color: #888;
  --quote-icon-background-color: #eee;
  --quote-icon-color: #959595;
  --tag-color: #888;
  --tag-background-color: #f2f2f2;
  --table-head-background-color: #eee;
  --tooltip-color: var(--white-color);
  --background-select-option-on-hover-state-color: #eee;
  --demo-background-color: #eee;
  --info-component-icon-background-color: #3282c9;
  --info-component-icon-color: var(--white-color);
  --info-component-text-background-color: #f3f8fd;
  --info-component-text-color: #004085;
  --warn-component-icon-background-color: #ffe399;
  --warn-component-icon-color: var(--white-color);
  --warn-component-text-background-color: #fff6e0;
  --warn-component-text-color: #856404;
  --quote-component-icon-background-color: #eee;
  --quote-component-icon-color: #959595;
  --quote-component-text-background-color: #fafafa;
  --quote-component-text-color: #888;
  --quote-component-text-font-style: italic;
  --search-background-color: var(--white-color);
  --search-border-color: #eee;
  --selected-option-color: var(--white-color);
  --select-background-color: var(--white-color);
  --selected-tag-color: var(--white-color);
  --article-card-background-color: #fcfcfd;
  --article-background-color: var(--white-color);
  --gallery-image-controls-color: var(--white-color);
  --demo-card-background-color: #eee;
  --demo-button-background-color: var(--white-color);
  --demo-button-on-hover-state-color: var(--white-color);
  --fancy-title-background-color: var(--white-color);
  --search-component-input-background-color: var(--white-color);
  --loader-primary-color: #eee;
  --related-article-card-background-color: #fcfcfc;
  --related-article-border-color: #eee;
  --related-article-tag-background-color: #f2f2f2;
  --header-small-screens-background: #f2f2f2;
  --header-small-screens-li-on-hover-state: #eee;
}

html {
  @media screen and (max-width: 720px) {
    --font-size: 52%;
  }
  @media screen and (min-width: 720px) {
    --font-size: 62.5%;
  }
}
