body {
  --header-height: 6.5rem;
  --transition: all 0.2s ease-in;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --box-shadow-primary-color: 0 0 0 3px rgba(0, 149, 255, 0.15);
  --text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  --container-prefix-width: 5rem;
  --code-padding: 1.6rem;
  --border-radius: 0.3rem;
  --right-border-radius: 0 0.3rem 0.3rem 0;
  --left-border-radius: 0.3rem 0 0 0.3rem;
  --code-top-bottom-margin: 2rem;
  --tooltip-triangle-height: 0.7rem;
  --tooltip-margin: 5px;
  --slide-in-translate-y: 100px;
  --max-width: 1400px;
  --search-top-bottom-padding: 1rem;
  --white-color: #fff;
  --code-line-height: 1.3;
  --code-font-size: 1.6rem;
  --code-padding-tb: 1.6rem;
  --code-padding-lr: 1.6rem;
  --code-line-numbers-width: 5rem;
  --border-top-left-radius: 0.3rem;
  --border-top-right-radius: 0.3rem;
  --border-bottom-left-radius: 0.3rem;
  --border-bottom-right-radius: 0.3rem;
}

body.dark {
  --gray-0: #000;
  --gray-1: #1c1f23;
  --gray-2: #262a2d;
  --gray-3: #32373b;
  --gray-4: #394048;
  --gray-5: #777;
  --gray-6: #888;
  --gray-7: #999;
  --gray-8: #c4c2c0;
  --gray-9: #eee;
  --primary-color: #078eed;
  --primary-color-light: #0c7ccb;
  --primary-color-dark: #0c7ccb;
  --primary-code-highlight-color: #078ded33;
  --code-highlight-color: #078ded33;
  --body-background-color: #1c1f23;
  --border-color: #394048;
  --text-color: #d1d2d3;
  --text-color-light: #888;
  --input-placeholder-color: #888;
  --title-color: #dedede;
  --header-background: #1c1f23;
  --header-background-with-shadow: var(--header-background);
  --header-link-color: #fff;
  --tooltip-background-color: #394048;

  --code-background-color: #32373b;
  --code-border-color: #32373b;
  --code-line-numbers-background-color: #394048;
  --code-tab-background-color-on-hover: #394048;
  --code-active-tab-background-color: #394048;
  --code-selected-tab-background-color: #c4c2c0;
  --code-icon-color: #777;

  --quote-background-color: #fafafa;
  --quote-color: #888;
  --quote-icon-background-color: #eee;
  --quote-icon-color: #999;
  --tag-color: #888;
  --tag-background-color: #32373b;
  --table-head-background-color: #394048;
  --tooltip-color: var(--white-color);
  --background-select-option-on-hover-state-color: #32373b;
  --demo-background-color: #262a2d;
  /* colors inspiration: https://material-ui.com/fr/components/alert/ */
  --info-component-background-color: rgb(3, 14, 24);
  --info-component-text-color: rgb(166, 213, 250);
  --warn-component-background-color: rgb(25, 15, 0);
  --warn-component-text-color: rgb(255, 213, 153);
  --error-component-background-color: rgb(24, 6, 5);
  --error-component-text-color: rgb(250, 179, 174);
  --quote-component-background-color: #32373b;
  --quote-component-text-color: #999;
  --quote-component-text-font-style: italic;
  --search-background-color: #262a2d;
  --search-border-color: #262a2d;
  --selected-tag-color: var(--white-color);
  --card-background-color: #262a2d;
  --card-border-color: var(--border-color);
  --card-border-top-height: 0px;
  --card-border-right-height: 0px;
  --card-border-bottom-height: 3px;
  --card-border-left-height: 0px;
  --card-border-radius: 0px;
  --card-box-shadow: none;

  --article-background-color: #262a2d;
  --gallery-image-controls-color: var(--white-color);
  --demo-card-background-color: #394048;
  --demo-button-background-color: #262a2d;
  --demo-button-on-hover-state-color: var(--white-color);
  --fancy-title-background-color: #1c1f23;
  --search-component-input-background-color: #262a2d;
  --loader-primary-color: #394048;
  --related-article-card-background-color: #32373b;
  --related-article-border-color: #32373b;
  --related-article-tag-background-color: #394048;
  --header-small-screens-background: #262a2d;
  --header-small-screens-li-on-hover-state: #32373b;
  --website-divisions-select-background-color: #262a2d;
  --website-divisions-select-background-color-on-hover: #32373b;
  --tool-background-color: var(--article-background-color);

  --select-selected-option-color: var(--primary-color);
  --select-selected-option-border-color: var(--primary-color);
  --select-selected-option-background-color: var(--article-background-color);
  --select-selected-option-border-color-on-open: var(--primary-color);
  --select-options-color: var(--gray-6);
  --select-options-border-color: var(--gray-2);
  --select-options-background-color: var(--gray-2);
  --select-options-border-color-on-open: var(--primary-color);
  --select-selected-option-color-on-hover: var(--white-color);
  --select-selected-option-border-color-on-hover: var(--primary-color);
  --select-selected-option-background-color-on-hover: var(--primary-color);
  --select-options-color-on-hover: var(--select-options-color);
  --select-options-border-color-on-hover: var(--primary-color);
  --select-options-background-color-on-hover: var(--gray-3);
  --select-border-color-on-open: var(--primary-color);
}

body.light {
  --gray-0: #000;
  --gray-1: #333;
  --gray-2: #555;
  --gray-3: #888;
  --gray-4: #eee;
  --gray-5: #f2f2f2;
  --gray-6: #fafafa;
  --primary-color: #078eed;
  --primary-color-light: #66bfff;
  --primary-color-dark: #0c7ccb;
  --primary-code-highlight-color: rgb(255, 215, 0);
  --code-highlight-color: rgb(31, 255, 31);
  --body-background-color: #fafafa;
  --border-color: #eee;
  --text-color: #555;
  --text-color-light: #888;
  --input-placeholder-color: #888;
  --title-color: #555;
  --header-background: var(--body-background-color);
  --header-background-with-shadow: var(--white-color);
  --header-link-color: #333;
  --tooltip-background-color: #333;

  --code-background-color: #f8f9fa;
  --code-border-color: #eaecf0;
  --code-line-numbers-background-color: #eee;
  --code-tab-background-color-on-hover: #eee;
  --code-active-tab-background-color: #eee;
  --code-selected-tab-background-color: #c4c2c0;
  --code-icon-color: #777;

  --quote-background-color: #fafafa;
  --quote-color: #888;
  --quote-icon-background-color: #eee;
  --quote-icon-color: #959595;
  --tag-color: #888;
  --tag-background-color: #f2f2f2;
  --table-head-background-color: #eee;
  --tooltip-color: var(--white-color);
  --background-select-option-on-hover-state-color: #eee;
  --demo-background-color: #eee;
  /* colors inspiration: https://material-ui.com/fr/components/alert/ */
  --info-component-background-color: rgb(232, 244, 253);
  --info-component-text-color: rgb(13, 60, 97);
  --warn-component-background-color: rgb(255, 244, 229);
  --warn-component-text-color: rgb(102, 60, 0);
  --error-component-background-color: rgb(253, 236, 234);
  --error-component-text-color: rgb(97, 26, 21);
  --quote-component-background-color: #fafafa;
  --quote-component-text-color: #888;
  --quote-component-text-font-style: italic;
  --search-background-color: var(--white-color);
  --search-border-color: #f9f9f9;
  --selected-tag-color: var(--white-color);
  --card-background-color: var(--white-color);
  --card-border-color: var(--border-color);
  --card-border-top-height: 0px;
  --card-border-right-height: 0px;
  --card-border-bottom-height: 0px;
  --card-border-left-height: 0px;
  --card-border-radius: 2px;
  --card-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
  --article-background-color: var(--white-color);
  --gallery-image-controls-color: var(--white-color);
  --demo-card-background-color: #eee;
  --demo-button-background-color: var(--white-color);
  --demo-button-on-hover-state-color: var(--white-color);
  --fancy-title-background-color: var(--body-background-color);
  --search-component-input-background-color: var(--white-color);
  --loader-primary-color: #eee;
  --related-article-card-background-color: var(--white-color);
  --related-article-border-color: #eee;
  --related-article-tag-background-color: #f2f2f2;
  --header-small-screens-background: #f2f2f2;
  --header-small-screens-li-on-hover-state: #eee;
  --tool-background-color: var(--article-background-color);

  --select-selected-option-color: var(--primary-color);
  --select-selected-option-border-color: var(--primary-color);
  --select-selected-option-background-color: var(--article-background-color);
  --select-selected-option-border-color-on-open: var(--primary-color);
  --select-options-color: var(--gray-3);
  --select-options-border-color: var(--gray-6);
  --select-options-background-color: var(--gray-6);
  --select-options-border-color-on-open: var(--primary-color);
  --select-selected-option-color-on-hover: var(--white-color);
  --select-selected-option-border-color-on-hover: var(--primary-color);
  --select-selected-option-background-color-on-hover: var(--primary-color);
  --select-options-color-on-hover: var(--select-options-color);
  --select-options-border-color-on-hover: var(--primary-color);
  --select-options-background-color-on-hover: var(--gray-4);
}

html {
  @media screen and (max-width: 720px) {
    --font-size: 52%;
  }
  @media screen and (min-width: 720px) {
    --font-size: 62.5%;
  }
}
