input {
  margin-right: 1.5rem;
  padding: 1rem;
  outline: none;
  border: none;
  color: var(--input-color);
  background: var(--input-background-color);
  border-bottom: 2px solid var(--input-border-color);
  transition: var(--transition);
  transition-property: border-color;
  border-radius: 0.2rem;

  &:hover,
  &:focus {
    border-color: var(--primary-color);
  }
}
