.table {
    overflow: auto;
}

table {
    margin-top: 1rem;
    width: 100%;
}
table thead {
    background-color: var(--table-head-background-color);
}
table th,
table td {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    vertical-align: top;
}
table th {
    text-align: left;
}
