name: Deploy to GitHub Pages
on:
  push:
    branches:
      - dev
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: Check Node & NPM versions
        run: |
          echo -e "\\033[1;36mnode --version\\033[0;02m"
          node --version

          echo -e "\\033[1;36mnpm --version\\033[0;02m"
          npm --version

      - name: Build
        run: |
          npm install
          npm run-script build

      - name: Deploy
        run: |
          echo -e "\\033[1;36mgit worktree add --checkout deploy-to-gh-pages origin/master\\033[0;02m"
          git worktree add --checkout deploy-to-gh-pages origin/master

          echo -e "\\033[1;36mrm -rf deploy-to-gh-pages/*\\033[0;02m"
          rm -rf deploy-to-gh-pages/*

          echo -e "\\033[1;36mcp -r dist/* deploy-to-gh-pages/\\033[0;02m"
          cp -r dist/* deploy-to-gh-pages/

          echo -e "\\033[1;36mcd deploy-to-gh-pages/\\033[0;02m"
          cd deploy-to-gh-pages/

          echo -e "\\033[1;36mgit checkout -b deploy-to-gh-pages\\033[0;02m"
          git checkout -b deploy-to-gh-pages

          echo -e "\\033[1;36mgit log dev | head -n1 > version.txt\\033[0;02m"
          git log origin/dev | head -n1 > version.txt

          echo -e "\\033[1;36mgit add .\\033[0;02m"
          git add .

          echo -e "\\033[1;36mgit config user.name ahenteti\\033[0;02m"
          git config user.name ahenteti

          echo -e "\\033[1;36mgit config user.email ahmad.henteti@gmail.com\\033[0;02m"
          git config user.email ahmad.henteti@gmail.com

          echo -e "\\033[1;36mgit remote set-url origin https://*****@github.com/ahenteti.github.io\\033[0;02m"
          git remote set-url origin https://x-access-token:${{ secrets.DEPLOY_TO_GH_PAGES }}@github.com/ahenteti/ahenteti.github.io.git

          echo -e "\\033[1;36mgit commit -am deploying new version of the website to github pages\\033[0;02m"
          git commit -am "deploying new version of the website to github pages"

          echo -e "\\033[1;36mgit checkout master\\033[0;02m"
          git checkout master

          echo -e "\\033[1;36mgit reset deploy-to-gh-pages --hard\\033[0;02m"
          git reset deploy-to-gh-pages --hard

          echo -e "\\033[1;36mgit push\\033[0;02m"
          git push

          echo -e "\\033[1;36mcd ..\\033[0;02m"
          cd ..

          echo -e "\\033[1;36mrm -rf deploy-to-gh-pages\\033[0;02m"
          rm -rf deploy-to-gh-pages
